dataset/
data/
small_eegs/
small_spectr/
wandb/
lightning_logs/
outputs/
src/data/outputs/


workspace.xml
usage.statistics.xml
shelf/
.ipynb_checkpoints
build/
MANIFEST


.env
.venv
env/
venv/


*.log
