# Distribution / packaging
dataset/
data/
small_eegs/
small_spectr/
wandb/
lightning_logs/
outputs/
src/data/outputs/

.Python
MANIFEST
build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/


*.log
